* {
    font-family: Roboto, Georgia, 'Times New Roman', Times, serif;
    font-size: xx-large;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
}

.header {
    padding: 16px 15%;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    flex: 1;
    max-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F9FAF8;
    font-size: 18px;
    padding: 30px;
}

.grid {
    display: flex;
    gap: 1px;
    align-content: flex-start;
    flex-wrap: wrap;
    width: 720px;
    height: 720px;
    max-width: 960px;
    max-height: 960px;
}

.square {
    border-radius: 15%;
    background-color: brown;
}

.square.colored {
    background-color: aquamarine;
}

.square.hovered {
    transition: ease-in-out 0.05s;
    scale: 1.3;
}