* {
	font-family: Roboto, Georgia, "Times New Roman", Times, serif;
	font-size: xx-large;
}

body {
	margin: 0;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 30px;
	background-color: #1f2937;
}

.header {
	padding-top: 16px;
	color: #f9faf8;
	display: flex;
	justify-content: center;
	align-items: center;
}

h1,
h2 {
	margin: 0;
}

.footer {
	flex: 1;
	max-height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #f9faf8;
	font-size: 18px;
	padding-bottom: 15px;
}

.container {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 30px;
	justify-content: center;
	align-items: center;
}

.grid {
	display: flex;
	gap: 1px;
	align-content: flex-start;
	flex-wrap: wrap;
	width: 720px;
	height: 720px;
	max-width: 960px;
	max-height: 960px;
}

.square {
	user-select: none;
	transition: scale ease-in-out 0.1s;
}

.square.hovered {
	transition: scale ease-in-out 0.1s;
	scale: 1.3;
}

.controls {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	gap: 30px;
}

button {
	background-color: brown;
	color: #f9faf8;
	padding: 8px 32px;
	font-size: 18px;
	font-weight: 900;
	border: none;
	border-radius: 5px;
	box-shadow: -3px 3px 0 0 rgb(166, 117, 117);
	transition: box-shadow 0.3s ease-in-out;
}

button:hover {
	transition: transform ease-in-out 0.3s;
	box-shadow: -0px 0px 0 0 rgb(166, 117, 117);
	transform: translate(-3px, 3px);
}

button:active {
	animation: pulse-animation 0.1s;
	animation-fill-mode: forwards;
}

@keyframes pulse-animation {
	from {
		scale: 1;
	}
	to {
		scale: 0.85;
	}
}

.modal {
	max-width: 500px;
	border: none;
	border-radius: 15px;
	box-shadow: 0 0 1em rgb(0 0 0 / 0.3);
	background-color: #1f2937;
	color: #f9faf8;
	animation: slideIn cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
}

@keyframes slideIn {
	from {
		scale: 0.5;
		opacity: 0.5;
		transform: translateX(-200px);
	}
	to {
		scale: 1;
		opacity: 1;
		transform: translateX(0px);
	}
}

.modal::backdrop {
	background-color: rgb(255 255 255 / 0.05);
}

.modal form {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 30px;
}

.modal h2,
#resizeModal span,
#colorModal input {
	align-self: center;
}

#resizeModal input {
	align-self: center;
	width: 350px;
	height: 15px;
	background-color: brown;
	outline: none;
	border-radius: 15px;
	box-shadow: inset 0 0 5px rgb(57, 19, 6);
	appearance: none;
}

#resizeModal input::-webkit-slider-thumb {
	appearance: none;
	width: 17px;
	height: 17px;
	border-radius: 50%;
	background-color: #f9faf8;
}

.modal .buttons {
	display: flex;
	justify-content: space-between;
	gap: 25px;
}

input[type="color"] {
	transition: transform 0.1s ease-in-out;
	background-color: transparent;
	width: 260px;
	height: 80px;
	border: none;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

input[type="color"]:hover {
	transform: scale(1.05);
}

input[type="color"]:active {
	transition: transform 0.05s ease-in-out;
	transform: scale(1);
}

input[type="color"]::-webkit-color-swatch-wrapper {
	border: none;
	border-radius: 20px;
	padding: 0;
}

input[type="color"]::-webkit-color-swatch {
	border: none;
	border-radius: 20px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

select {
	border: none;
	background-color: #f1f1f1;
	padding: 10px;
	font-size: 16px;
	border-radius: 5px;
}

input[type="checkbox"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: 2px solid #ccc;
	border-radius: 4px;
	width: 20px;
	height: 20px;
}

input[type="checkbox"]:checked {
	background-color: brown;
}
